In [1]:
# Import statements
# Declare Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import make_scorer, r2_score, mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
import os
import pickle
from textwrap import wrap
import operator
import au_census_analysis_functions as cnss_func

# Set a variable for current notebook's path for various loading/saving mechanisms
nb_path = os.getcwd()
td_path = os.path.dirname(os.path.realpath(nb_path))

In [2]:
import table_funcs as tbl_func
# Set a variable for current notebook's path for various loading/saving mechanisms
env_path = os.path.dirname(td_path)
env_path = td_path

In [3]:
import importlib
importlib.reload(cnss_func)

In [4]:
full_category_list = ["Measure","Age", "Ancestry", "Birthplace", "Building occupation status", "Building type", 
"Country of Birth of Parents", "Dependent children in couple families", "Disability status",
"Education", "Educational status", "Family Composition", "Family number parents + children",
"Family type + Child age", "Family with children type", "Field of Study", "Heritage",
"Hours worked", "Household Composition", "Household type", "Income", "Indigenous", "Industry",
"Internet status", "Labour force status", "Labour Force Status of Female Parent",
"Labour Force Status of Male Parent", "Language", "Language Dialect", "Language of father", 
"Language of Parents", "Language of mother", "Language Spoken at Home", "Location", 
"Marital Status", "Mortgage", "Number", "Number of Commuting Methods", 
"Migration", "Number of Bedrooms", "Number of children", "Number of Hours", "Occupation", 
"Ownership", "Place of Birth", "Place of Residence class", "Place of Usual Residence", 
"Proficiency in Spoken English", "Relationship in Household", "Religion", "Religious Sect", 
"Rent", "Rental authority", "Rental cost", "School type", "Sex", "State", "Travel method type", 
"Unemployed Status", "Unpaid status", "Volunteering status", "Year of Arrival"]

full_tables_list = ["G01", "G02", "G03", "G04", "G05", "G06", "G07", "G08", "G09", "G10", 
"G11", "G12", "G13", "G14", "G15", "G16", "G17", "G18", "G19", "G20", "G21", "G22", "G23", 
"G24", "G25", "G26", "G27", "G28", "G29", "G30", "G31", "G32", "G33", "G34", "G35", "G36", 
"G37", "G38", "G39", "G40", "G41", "G42", "G43", "G44", "G45", "G46", "G47", "G48", "G49", 
"G50", "G51", "G52", "G53", "G54", "G55", "G56", "G57", "G58", "G59"]

In [5]:
# import Category_Measure_reference.csv as DF
df_cat_measure = pd.read_csv('{}\\Data\\Metadata\\Category_Measure_reference.csv'.format(env_path))

# filter measure column based on isin list
df_cat_measure = df_cat_measure[df_cat_measure['Category'].isin(full_category_list)]
df_cat_measure.head()

  Category                 Measure Appears_in_table
0      Age    Age_groups_0_4_years              G01
1      Age   Age_groups_5_14_years              G01
2      Age  Age_groups_15_19_years              G01
3      Age  Age_groups_20_24_years              G01
4      Age  Age_groups_25_34_years              G01

In [5]:
df_catf_working = pd.read_csv('{}\\Data\\Metadata\\Category_Measure_reference_temp.csv'.format(env_path))
df_catf_working.head()

                       Measures   Categories
0           Total_Persons|Males    Total|Sex
1         Total_Persons|Females    Total|Sex
2                 Total|Persons  Total|Total
3    Age_groups_0_4_years|Males      Age|Sex
4  Age_groups_0_4_years|Females      Age|Sex

In [6]:
cfw_fields = []
[cfw_fields.extend(y) for y in [x.split("|") for x in df_catf_working['Measures'].tolist()]]
len(cfw_fields)

49869

In [7]:
cfw_cats = []
[cfw_cats.extend(y) for y in [x.split("|") for x in df_catf_working['Categories'].tolist()]]
len(cfw_cats)

49869

In [8]:
dfcfw = pd.DataFrame()
dfcfw['Field'] = cfw_fields
dfcfw['Category'] = cfw_cats
len(dfcfw.drop_duplicates())

924

In [9]:
dfcfw.drop_duplicates().to_csv('{}\\Data\\Metadata\\Category_Measure_reference_n.csv'.format(env_path))

In [7]:
test_cat_lst = ['Aged_15_24_years|Age','Year_of_arrival_2012|Year of Arrival','Tenure_type_not_stated|Ownership','Age_25_34_years|Age']
[x.split("|") for x in test_cat_lst]

[['Aged_15_24_years', 'Age'],
 ['Year_of_arrival_2012', 'Year of Arrival'],
 ['Tenure_type_not_stated', 'Ownership'],
 ['Age_25_34_years', 'Age']]

In [8]:
test_dfx = pd.DataFrame()
test_dfx['Field'] = [i[0] for i in [x.split("|") for x in test_cat_lst]]
test_dfx['Cat'] = [i[1] for i in [x.split("|") for x in test_cat_lst]]
test_dfx.head()

                    Field              Cat
0        Aged_15_24_years              Age
1    Year_of_arrival_2012  Year of Arrival
2  Tenure_type_not_stated        Ownership
3         Age_25_34_years              Age

In [30]:
test_tables_list = ['G01','G02','G03']

In [31]:
df_meta.head()

,Sequential,Short,Long,DataPack file,Profile table,Column heading description in profile,Table name,Table population,Age,Ancestry,...,Travel method type,Unemployed Status,Unpaid status,Volunteering status,Year of Arrival,Number of Classes,Number of Totals,Number of Classes Excl Total,Measures,Categories
0,G1,Tot_P_M,Total_Persons_Males,G01,G01a,Males,Selected Person Characteristics by Sex,Persons,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,1,1,Total_Persons|Males,Total|Sex
1,G2,Tot_P_F,Total_Persons_Females,G01,G01a,Females,Selected Person Characteristics by Sex,Persons,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,1,1,Total_Persons|Females,Total|Sex
2,G3,Tot_P_P,Total_Persons_Persons,G01,G01a,Persons,Selected Person Characteristics by Sex,Persons,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,2,0,Total|Persons,Total|Total
3,G4,Age_0_4_yr_M,Age_groups_0_4_years_Males,G01,G01a,Males,Selected Person Characteristics by Sex,Persons,Age_groups_0_4_years,NaN,...,NaN,NaN,NaN,NaN,NaN,2,0,2,Age_groups_0_4_years|Males,Age|Sex
4,G5,Age_0_4_yr_F,Age_groups_0_4_years_Females,G01,G01a,Females,Selected Person Characteristics by Sex,Persons,Age_groups_0_4_years,NaN,...,NaN,NaN,NaN,NaN,NaN,2,0,2,Age_groups_0_4_years|Females,Age|Sex

In [32]:
table_rest_df = df_meta[df_meta['DataPack file'].str[:3].isin(test_tables_list)]
cats_in_tbls = table_rest_df[full_category_list].count()
cats_in_tbls = cats_in_tbls[cats_in_tbls>0]
cats_in_tbls.index.tolist()

['Measure',
 'Age',
 'Birthplace',
 'Education',
 'Indigenous',
 'Language',
 'Location',
 'Number',
 'Sex',
 'State']

In [5]:
all_categories = tbl_func.return_categories()
available_tables = tbl_func.return_tables()
available_measures = tbl_func.return_relevant_features()

## Filtering the datatable by category value
I want to be able to

### Custom Functions
Below creates a number of custom functions. These are also replicated in the au_census_analysis_functions.py file but for the time being I am leaving them here if I need to re-run some of the cells executed prior to the implementation of these as imported functions.

In [3]:
# Show tables which have the above fields of information available
df_meta = pd.read_csv('{}\Data\Metadata\Metadata_2016_refined.csv'.format(td_path))
df_m_refined = df_meta[(df_meta['Age'] > 0) |
                      (df_meta['Income'] > 0) |
                      (df_meta['Occupation'] > 0) |
                      (df_meta['Family Composition'] > 0) |
                      (df_meta['Internet status'] > 0) |
                      (df_meta['Building occupation status'] > 0) |
                      (df_meta['Number of Bedrooms'] > 0) |
                      (df_meta['Place of Birth'] > 0) |
                      (df_meta['Country of Birth of Parents'] > 0) |
                      (df_meta['Year of Arrival'] > 0)]
tables_to_load = df_m_refined['Profile table'].unique().tolist()
load_features = ['Age','Income']

## Begin importing and exploring data

In [23]:
options_df = df_m_refined[['DataPack file','Table name']]
options_df = options_df.drop_duplicates(subset='DataPack file')
options_df = options_df.set_index('DataPack file')
options_df.head()

                                                    Table name
DataPack file
G01                     Selected Person Characteristics by Sex
G03            Place of Usual Residence on Census Night by Age
G04A                                                Age by Sex
G04B                                                Age by Sex
G05                    Registered Marital Status by Age by Sex

In [24]:
temp_df = pd.DataFrame(options_df['Table name'].value_counts()).reset_index()
temp_df.columns = ['Table name','Count']
options_df = options_df.reset_index().merge(temp_df, on='Table name')

In [27]:
options_df.loc[options_df.Count > 1, 'DataPack file'] = options_df['DataPack file'].str[:3]
options_df.drop_duplicates()

   DataPack file                                         Table name  Count
0            G01             Selected Person Characteristics by Sex      1
1            G03    Place of Usual Residence on Census Night by Age      1
2            G04                                         Age by Sex      2
4            G05            Registered Marital Status by Age by Sex      1
5            G06                Social Marital Status by Age by Sex      1
6            G07                   Indigenous Status by Age by Sex       1
7            G09           Country of Birth of Person by Age by Sex      8
15           G10  Country of Birth of Person by Year of Arrival ...      3
18           G11  Proficiency in Spoken English/Language by Year...      4
22           G12  Proficiency in Spoken English/Language of Pare...      2
24           G15  Type of Educational Institution Attending (Ful...      1
25           G16     Highest Year of School Completed by Age by Sex      2
27           G17       Total Personal Income (Weekly) by Age by Sex      3
30           G18    Core Activity Need for Assistance by Age by Sex      1
31           G19  Voluntary Work for an Organisation or Group by...      1
32           G20  Unpaid Domestic Work:  Number of House by Age ...      2
34           G21  Unpaid Assistance to a Person with a Disabilit...      1
35           G22                    Unpaid Child Care by Age by Sex      2
37           G23            Relationship in Household by Age by Sex      2
39           G24      Number of Children Ever Born by Age of Parent      1
40           G25                                 Family Composition      1
41           G26  Family Composition and Country of Birth of Par...      1
42           G27                                    Family Blending      1
43           G28  Total Family Income (Weekly) by Family Composi...      1
44           G29  Total Household Income (Weekly) by Household C...      1
45           G32                                 Dwelling Structure      1
46           G33  Tenure Type and Landlord Type by Dwelling Stru...      1
47           G34  Mortgage Repayment (Monthly) by Dwelling Struc...      1
48           G35  Mortgage Repayment (Monthly) by Family Composi...      1
49           G37  Dwelling Internet Connection by Dwelling Struc...      1
50           G38           Dwelling Structure by Number of Bedrooms      1
51           G39  Dwelling Structure by Household Composition an...      1
52           G40  Selected Labour Force, Education and Migration...      1
53           G43                  Labour Force Status by Age by Sex      2
55           G44  Labour Force Status by Sex of Parents by Age o...      6
61           G45  Labour Force Status by Sex of Parents by Age o...      2
63           G46  Non-School Qualification:  Level of Education ...      2
65           G47  Non-School Qualification:  Field of Study by A...      3
68           G48  Non-School Qualification:  Field of Study by O...      3
71           G49  Non-School Qualification:  Level of Education ...      3
74           G51               Industry of Employment by Age by Sex      4
78           G53               Industry of Employment by Occupation      2
80           G54  Total Family Income (Weekly) by Labour Force S...      2
82           G55  Total Family Income (Weekly) by Labour Force S...      2
84           G56  Total Family Income (Weekly) by Labour Force S...      2
86           G57                           Occupation by Age by Sex      2
88           G58                  Occupation by Hours Worked by Sex      2

In [13]:
options_dict = [{'label': index, 'value': val} for index, val in options_df['Table name'].iteritems()]

options_dict

[{'label': 'G01', 'value': 'Selected Person Characteristics by Sex'},
 {'label': 'G03', 'value': 'Place of Usual Residence on Census Night by Age'},
 {'label': 'G04A', 'value': 'Age by Sex'},
 {'label': 'G04B', 'value': 'Age by Sex'},
 {'label': 'G05', 'value': 'Registered Marital Status by Age by Sex'},
 {'label': 'G06', 'value': 'Social Marital Status by Age by Sex'},
 {'label': 'G07', 'value': 'Indigenous Status by Age by Sex '},
 {'label': 'G09A', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G09B', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G09C', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G09D', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G09E', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G09F', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G09G', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G09H', 'value': 'Country of Birth of Person by Age by Sex'},
 {'label': 'G10A',
  'value': 'Country of Birth of Person by Year of Arrival in Australia'},
 {'label': 'G10B',
  'value': 'Country of Birth of Person by Year of Arrival in Australia'},
 {'label': 'G10C',
  'value': 'Country of Birth of Person by Year of Arrival in Australia'},
 {'label': 'G11A',
  'value': 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'},
 {'label': 'G11B',
  'value': 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'},
 {'label': 'G11C',
  'value': 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'},
 {'label': 'G11D',
  'value': 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'},
 {'label': 'G12A',
  'value': 'Proficiency in Spoken English/Language of Parents by Age of Dependent Children'},
 {'label': 'G12B',
  'value': 'Proficiency in Spoken English/Language of Parents by Age of Dependent Children'},
 {'label': 'G15',
  'value': 'Type of Educational Institution Attending (Full/Part-Time Student Status by Age) by Sex'},
 {'label': 'G16A', 'value': 'Highest Year of School Completed by Age by Sex'},
 {'label': 'G16B', 'value': 'Highest Year of School Completed by Age by Sex'},
 {'label': 'G17A', 'value': 'Total Personal Income (Weekly) by Age by Sex'},
 {'label': 'G17B', 'value': 'Total Personal Income (Weekly) by Age by Sex'},
 {'label': 'G17C', 'value': 'Total Personal Income (Weekly) by Age by Sex'},
 {'label': 'G18', 'value': 'Core Activity Need for Assistance by Age by Sex'},
 {'label': 'G19',
  'value': 'Voluntary Work for an Organisation or Group by Age by Sex '},
 {'label': 'G20A',
  'value': 'Unpaid Domestic Work:  Number of House by Age by Sex '},
 {'label': 'G20B',
  'value': 'Unpaid Domestic Work:  Number of House by Age by Sex '},
 {'label': 'G21',
  'value': 'Unpaid Assistance to a Person with a Disability by Age by Sex'},
 {'label': 'G22A', 'value': 'Unpaid Child Care by Age by Sex'},
 {'label': 'G22B', 'value': 'Unpaid Child Care by Age by Sex'},
 {'label': 'G23A', 'value': 'Relationship in Household by Age by Sex'},
 {'label': 'G23B', 'value': 'Relationship in Household by Age by Sex'},
 {'label': 'G24', 'value': 'Number of Children Ever Born by Age of Parent'},
 {'label': 'G25', 'value': 'Family Composition'},
 {'label': 'G26',
  'value': 'Family Composition and Country of Birth of Parents by Age of Dependent Children'},
 {'label': 'G27', 'value': 'Family Blending'},
 {'label': 'G28',
  'value': 'Total Family Income (Weekly) by Family Composition'},
 {'label': 'G29',
  'value': 'Total Household Income (Weekly) by Household Composition'},
 {'label': 'G32', 'value': 'Dwelling Structure'},
 {'label': 'G33',
  'value': 'Tenure Type and Landlord Type by Dwelling Structure'},
 {'label': 'G34',
  'value': 'Mortgage Repayment (Monthly) by Dwelling Structure'},
 {'label': 'G35',
  'value': 'Mortgage Repayment (Monthly) by Family Composition'},
 {'label': 'G37',
  'value': 'Dwelling Internet Connection by Dwelling Structure'},
 {'label': 'G38', 'value': 'Dwelling Structure by Number of Bedrooms'},
 {'label': 'G39',
  'value': 'Dwelling Structure by Household Composition and Family Composition'},
 {'label': 'G40',
  'value': 'Selected Labour Force, Education and Migration Characteristics by Sex'},
 {'label': 'G43A', 'value': 'Labour Force Status by Age by Sex'},
 {'label': 'G43B', 'value': 'Labour Force Status by Age by Sex'},
 {'label': 'G44A',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'},
 {'label': 'G44B',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'},
 {'label': 'G44C',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'},
 {'label': 'G44D',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'},
 {'label': 'G44E',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'},
 {'label': 'G44F',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'},
 {'label': 'G45A',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for Couple Families'},
 {'label': 'G45B',
  'value': 'Labour Force Status by Sex of Parents by Age of Dependent Children for Couple Families'},
 {'label': 'G46A',
  'value': 'Non-School Qualification:  Level of Education by Age by Sex'},
 {'label': 'G46B',
  'value': 'Non-School Qualification:  Level of Education by Age by Sex'},
 {'label': 'G47A',
  'value': 'Non-School Qualification:  Field of Study by Age by Sex'},
 {'label': 'G47B',
  'value': 'Non-School Qualification:  Field of Study by Age by Sex'},
 {'label': 'G47C',
  'value': 'Non-School Qualification:  Field of Study by Age by Sex'},
 {'label': 'G48A',
  'value': 'Non-School Qualification:  Field of Study by Occupation by Sex'},
 {'label': 'G48B',
  'value': 'Non-School Qualification:  Field of Study by Occupation by Sex'},
 {'label': 'G48C',
  'value': 'Non-School Qualification:  Field of Study by Occupation by Sex'},
 {'label': 'G49A',
  'value': 'Non-School Qualification:  Level of Education by Occupation  by Sex'},
 {'label': 'G49B',
  'value': 'Non-School Qualification:  Level of Education by Occupation  by Sex'},
 {'label': 'G49C',
  'value': 'Non-School Qualification:  Level of Education by Occupation  by Sex'},
 {'label': 'G51A', 'value': 'Industry of Employment by Age by Sex'},
 {'label': 'G51B', 'value': 'Industry of Employment by Age by Sex'},
 {'label': 'G51C', 'value': 'Industry of Employment by Age by Sex'},
 {'label': 'G51D', 'value': 'Industry of Employment by Age by Sex'},
 {'label': 'G53A', 'value': 'Industry of Employment by Occupation'},
 {'label': 'G53B', 'value': 'Industry of Employment by Occupation'},
 {'label': 'G54A',
  'value': 'Total Family Income (Weekly) by Labour Force Status of Partners for Couple Families with No Children'},
 {'label': 'G54B',
  'value': 'Total Family Income (Weekly) by Labour Force Status of Partners for Couple Families with No Children'},
 {'label': 'G55A',
  'value': 'Total Family Income (Weekly) by Labour Force Status of Parents/Partners for Couple Families with Children'},
 {'label': 'G55B',
  'value': 'Total Family Income (Weekly) by Labour Force Status of Parents/Partners for Couple Families with Children'},
 {'label': 'G56A',
  'value': 'Total Family Income (Weekly) by Labour Force Status of Parent for One Parent Families'},
 {'label': 'G56B',
  'value': 'Total Family Income (Weekly) by Labour Force Status of Parent for One Parent Families'},
 {'label': 'G57A', 'value': 'Occupation by Age by Sex'},
 {'label': 'G57B', 'value': 'Occupation by Age by Sex'},
 {'label': 'G58A', 'value': 'Occupation by Hours Worked by Sex'},
 {'label': 'G58B', 'value': 'Occupation by Hours Worked by Sex'}]

In [12]:
print ([x for x in options_df['Table name'].iteritems()])

[('G01', 'Selected Person Characteristics by Sex'), ('G03', 'Place of Usual Residence on Census Night by Age'), ('G04A', 'Age by Sex'), ('G04B', 'Age by Sex'), ('G05', 'Registered Marital Status by Age by Sex'), ('G06', 'Social Marital Status by Age by Sex'), ('G07', 'Indigenous Status by Age by Sex '), ('G09A', 'Country of Birth of Person by Age by Sex'), ('G09B', 'Country of Birth of Person by Age by Sex'), ('G09C', 'Country of Birth of Person by Age by Sex'), ('G09D', 'Country of Birth of Person by Age by Sex'), ('G09E', 'Country of Birth of Person by Age by Sex'), ('G09F', 'Country of Birth of Person by Age by Sex'), ('G09G', 'Country of Birth of Person by Age by Sex'), ('G09H', 'Country of Birth of Person by Age by Sex'), ('G10A', 'Country of Birth of Person by Year of Arrival in Australia'), ('G10B', 'Country of Birth of Person by Year of Arrival in Australia'), ('G10C', 'Country of Birth of Person by Year of Arrival in Australia'), ('G11A', 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'), ('G11B', 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'), ('G11C', 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'), ('G11D', 'Proficiency in Spoken English/Language by Year of Arrival in Australia by Age'), ('G12A', 'Proficiency in Spoken English/Language of Parents by Age of Dependent Children'), ('G12B', 'Proficiency in Spoken English/Language of Parents by Age of Dependent Children'), ('G15', 'Type of Educational Institution Attending (Full/Part-Time Student Status by Age) by Sex'), ('G16A', 'Highest Year of School Completed by Age by Sex'), ('G16B', 'Highest Year of School Completed by Age by Sex'), ('G17A', 'Total Personal Income (Weekly) by Age by Sex'), ('G17B', 'Total Personal Income (Weekly) by Age by Sex'), ('G17C', 'Total Personal Income (Weekly) by Age by Sex'), ('G18', 'Core Activity Need for Assistance by Age by Sex'), ('G19', 'Voluntary Work for an Organisation or Group by Age by Sex '), ('G20A', 'Unpaid Domestic Work:  Number of House by Age by Sex '), ('G20B', 'Unpaid Domestic Work:  Number of House by Age by Sex '), ('G21', 'Unpaid Assistance to a Person with a Disability by Age by Sex'), ('G22A', 'Unpaid Child Care by Age by Sex'), ('G22B', 'Unpaid Child Care by Age by Sex'), ('G23A', 'Relationship in Household by Age by Sex'), ('G23B', 'Relationship in Household by Age by Sex'), ('G24', 'Number of Children Ever Born by Age of Parent'), ('G25', 'Family Composition'), ('G26', 'Family Composition and Country of Birth of Parents by Age of Dependent Children'), ('G27', 'Family Blending'), ('G28', 'Total Family Income (Weekly) by Family Composition'), ('G29', 'Total Household Income (Weekly) by Household Composition'), ('G32', 'Dwelling Structure'), ('G33', 'Tenure Type and Landlord Type by Dwelling Structure'), ('G34', 'Mortgage Repayment (Monthly) by Dwelling Structure'), ('G35', 'Mortgage Repayment (Monthly) by Family Composition'), ('G37', 'Dwelling Internet Connection by Dwelling Structure'), ('G38', 'Dwelling Structure by Number of Bedrooms'), ('G39', 'Dwelling Structure by Household Composition and Family Composition'), ('G40', 'Selected Labour Force, Education and Migration Characteristics by Sex'), ('G43A', 'Labour Force Status by Age by Sex'), ('G43B', 'Labour Force Status by Age by Sex'), ('G44A', 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'), ('G44B', 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'), ('G44C', 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'), ('G44D', 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'), ('G44E', 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'), ('G44F', 'Labour Force Status by Sex of Parents by Age of Dependent Children for One Parent Families'), ('G45A', 'Labour Force Status by Sex of Parents by Age of Dependent Children for Couple Families'), ('G45B', 'Labour Force Status by Sex of Parents by Age of Dependent Children for Couple Families'), ('G46A', 'Non-School Qualification:  Level of Education by Age by Sex'), ('G46B', 'Non-School Qualification:  Level of Education by Age by Sex'), ('G47A', 'Non-School Qualification:  Field of Study by Age by Sex'), ('G47B', 'Non-School Qualification:  Field of Study by Age by Sex'), ('G47C', 'Non-School Qualification:  Field of Study by Age by Sex'), ('G48A', 'Non-School Qualification:  Field of Study by Occupation by Sex'), ('G48B', 'Non-School Qualification:  Field of Study by Occupation by Sex'), ('G48C', 'Non-School Qualification:  Field of Study by Occupation by Sex'), ('G49A', 'Non-School Qualification:  Level of Education by Occupation  by Sex'), ('G49B', 'Non-School Qualification:  Level of Education by Occupation  by Sex'), ('G49C', 'Non-School Qualification:  Level of Education by Occupation  by Sex'), ('G51A', 'Industry of Employment by Age by Sex'), ('G51B', 'Industry of Employment by Age by Sex'), ('G51C', 'Industry of Employment by Age by Sex'), ('G51D', 'Industry of Employment by Age by Sex'), ('G53A', 'Industry of Employment by Occupation'), ('G53B', 'Industry of Employment by Occupation'), ('G54A', 'Total Family Income (Weekly) by Labour Force Status of Partners for Couple Families with No Children'), ('G54B', 'Total Family Income (Weekly) by Labour Force Status of Partners for Couple Families with No Children'), ('G55A', 'Total Family Income (Weekly) by Labour Force Status of Parents/Partners for Couple Families with Children'), ('G55B', 'Total Family Income (Weekly) by Labour Force Status of Parents/Partners for Couple Families with Children'), ('G56A', 'Total Family Income (Weekly) by Labour Force Status of Parent for One Parent Families'), ('G56B', 'Total Family Income (Weekly) by Labour Force Status of Parent for One Parent Families'), ('G57A', 'Occupation by Age by Sex'), ('G57B', 'Occupation by Age by Sex'), ('G58A', 'Occupation by Hours Worked by Sex'), ('G58B', 'Occupation by Hours Worked by Sex')]